<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let car of cars">
    <a (click)="openModal($event, car)" class="card clickable">
      <div class="card-img">
        <img src="{{ car.thumbnail }}" alt="Car">
      </div>
      <div class="card-block">
        <h5 class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</h5>
        <p class="card-text">{{ car.cost }}</p>
      </div>
      <div class="card-footer">
        <a (click)="openModal($event, car)" class="btn btn-warning">View</a>
      </div>
    </a>
  </div>
</div>
<clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">{{ oneCar?.year }} {{ oneCar?.make }} {{ oneCar?.model }} {{ oneCar?.trim }}</h3>
    <div class="modal-body">
      <!-- <pre>{{ oneCar | json }}</pre> -->
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6">
          <ngu-carousel [inputs]="carousel">
            <ngu-item NguCarouselItem>
              <img class="car-images" src="{{ oneCar?.photo_front }}" alt="First slide" draggable="false">
            </ngu-item>
            <ngu-item NguCarouselItem>
              <img class="car-images" src="{{ oneCar?.photo_back }}" alt="Second slide" draggable="false">
            </ngu-item>
            <ngu-item NguCarouselItem>
              <img class="car-images" src="{{ oneCar?.photo_side }}" alt="Third slide" draggable="false">
            </ngu-item>
            <ngu-item NguCarouselItem>
              <img class="car-images" src="{{ oneCar?.photo_inside_front }}" alt="Fourth slide" draggable="false">
            </ngu-item>
            <ngu-item NguCarouselItem>
              <img class="car-images" src="{{ oneCar?.photo_inside_back }}" alt="Fifth slide" draggable="false">
            </ngu-item>
            <button NguCarouselPrev class="btn btn-warning-outline previous"><clr-icon shape="rewind" class="is-solid"></clr-icon></button>
            <button NguCarouselNext class="btn btn-warning-outline next"><clr-icon shape="fast-forward" class="is-solid"></clr-icon></button>
          </ngu-carousel>
          <!-- <ui-carousel [infinite]="true" [fade]="false" [speed]="2000">
            <ui-carousel-item>
              <img src="{{ oneCar?.photo_front }}" alt="First slide" draggable="false">
            </ui-carousel-item>
            <ui-carousel-item>
              <img src="{{ oneCar?.photo_back }}" alt="Second slide" draggable="false">
            </ui-carousel-item>
            <ui-carousel-item>
              <img src="{{ oneCar?.photo_side }}" alt="Third slide" draggable="false">
            </ui-carousel-item>
            <ui-carousel-item>
              <img src="{{ oneCar?.photo_inside_front }}" alt="Fourth slide" draggable="false">
            </ui-carousel-item>
            <ui-carousel-item>
              <img src="{{ oneCar?.photo_inside_back }}" alt="Fifth slide" draggable="false">
            </ui-carousel-item>
          </ui-carousel> -->
        </div>
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6">
          <ul class="list-unstyled">
            <li><strong>Color:</strong> {{ oneCar?.color }}</li>
            <li><strong>Price:</strong> {{ oneCar?.cost }}</li>
            <li><strong>Miles:</strong> {{ oneCar?.miles }}</li>
            <li><strong>About:</strong> {{ oneCar?.description }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="closeModal()">Ok</button>
    </div>
  </clr-modal>