<section class="sidenav-content">
  <div class="container">

    <form class="compact">
      <div class="form-group">
          <label for="make"></label>
          <div class="select">
              <select id="make">
                <option value="">Make -</option>
                <option *ngFor="let car of cars" value="{{ car.make }}">{{ car.make }}</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label for="model"></label>
          <div class="select">
              <select id="model">
                <option value="">Model -</option>
                <option *ngFor="let car of cars" value="{{ car.model }}">{{ car.model }}</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label for="color"></label>
          <div class="select">
              <select id="color">
                <option value="">Color -</option>
                <option *ngFor="let car of cars" value="{{ car.color }}">{{ car.color }}</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label for="type"></label>
          <div class="select">
              <select id="type">
                <option value="">Type -</option>
                <option *ngFor="let car of cars" value="{{ car.type }}">{{ car.type }}</option>
              </select>
          </div>
      </div>
      <!-- <div class="form-group">
        <label for="aForm_1">This is a form field</label>
        <input type="text" id="aForm_1" placeholder="Enter value here" size="45">
      </div> -->
    </form>
  </div>
</section>